*, *:before, *:after {
    box-sizing: border-box;
}

.form{
    display: flex;
    align-items: center;
}

input{
    border-radius: 4px;
    border-width: 1px;
}

input[type=checkbox]{
    transition: 0.1s;
}

input[type=checkbox]:hover{
    transform: scale(1.02);
}

button{
    border-color: rgb(4, 243, 231);
    border-radius: 4px;
    border-width: 1px;
    transition: 0.1s;
}

button:hover{
    transform: scale(1.02);
}

.wrong{
   border-color: red;
}

.pass{
    border-color: green;
}

.agree__box{
    box-sizing: border-box;
    display: flex;
    border: 2px solid;
    border-color: black;
    height: 30px;
    align-items: center;
    width: 330px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.btn{
    margin: 6px;
}